*{
    margin: 0;
    background-position: auto; 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

} 

body{
    background-image: url("https://c.tenor.com/PVNKS2tvktIAAAAM/the-simpsons-homer.gif"); 
    background-position: auto; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}


.contenedor{
    width: 100vw;
    height: 100vh;
    text-align: center;
}

p{
    font-size: xx-large;
    padding: 15%;
    color: white;
}

button{
    font-size: xx-large;
    padding: 1.5em;    
    border: none;
    color: #fff;
}

#yesBtn{
    transform: translate(-100%,0);
    background-image: url("https://media.tenor.com/4WYsJJQ9kp4AAAAC/no-bueno-si-homer-simpson.gif");

}

#noBtn{
    position: absolute;
    background-image: url("https://media.tenor.com/ivzpj8yeacUAAAAd/que-como-que-no-que.gif");
}

@media screen and (min-width: 800px){
    .contenedor{
        width: 100%;
    }

}

@media only screen and (max-width: 767px) {

    body {
    
    background-image: url("https://c.tenor.com/PVNKS2tvktIAAAAM/the-simpsons-homer.gif");
    
    }
}
